<%- include("../partials/header") %>

	<div class="headProfile">
		<div class="header-image">
			<img src="https://unsplash.com/photos/KJGBY76mmS4/download" class="header-image" height="200" alt="...">
			<div class="info-label"><a href="/profile/uploads/cover"><i class="fas fa-camera"></i></a></div>
			<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar">
			<div class="info-propic"><a href="/profile/uploads/profilepicture"><i class="fas fa-camera"></i></a></div>
		</div>
		<div class="user-title">
			<div class="container text-center">
				<h3>Azani Ramadhan</h3>
				<h5>Career User</h5>
				<h5>Education User</h5>
				<hr>
				<p class="text-center m-5">Azani Ramadhan is a passionate person that willingly to work harder than any people out there to achieve his dream. Follow his social media below</p>
			</div>
		</div>
	</div>

	<div class="bodyProfile">
		<div class="container">
			<div class="card-body text-left">
				<h3 class="card-title">Career<a href="/profile/new/career"><i class="fas fa-plus pull-right"></i></a></h3>
				<h5>Company<a href="/profile/edit/career"><i class="fas fa-pencil-alt pull-right"></i></a></h5>
				<p>Position</p>
				<p>work from feb to June</p>
			</div>
				<hr> 
			<div class="card-body text-left">	
				<h3 class="card-title">Education<a href="/profile/new/education"><i class="fas fa-plus pull-right"></i></a></h3>	
				<h5>University<a href="/profile/edit/education"><i class="fas fa-pencil-alt pull-right"></i></a></h5>
				<p>Degree</p>
				<p>Graduation Time</p>
			</div>
		</div>
	</div>
	<div class="chat-feature">
	</div>

<%- include("../partials/footer") %>