<%- include(".../partials/header") %>

	<div class="headProfile">
		<div class="header-image">
			<img src="https://unsplash.com/photos/KJGBY76mmS4/download" class="header-image" height="200" alt="...">
			<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar">
		</div>
		<div class="user-title">
			<div class="container text-center">
				<h3>Azani Ramadhan</h3>
				<h5>Career User</h5>
				<h5>Education User</h5>
				<hr>
				<p class="text-center m-5">Azani Ramadhan is a passionate person that willingly to work harder than any people out there to achieve his dream. Follow his social media below</p>
			</div>
		</div>
	</div>

	<div class="bodyProfile">
		<div class="container">
			<div class="card-body text-left">
				<h5 class="card-title">Career<a href="/"><i class="fas fa-plus pull-right"></i></a></h5>
				<h5>Title Career<a href="/"><i class="fas fa-pencil-alt pull-right"></i></a></h5>
				<h5>Company</h5>
				<h5>work from feb to June</h5>
				<p>work places</p>
				<ul>
				<li>description about the work</li>
				</ul>
			</div>
				<hr> 
			<div class="card-body text-left">	
				<h5 class="card-title">Education<a href="/"><i class="fas fa-plus pull-right"></i></a></h5>	
				<h5>University<a href="/"><i class="fas fa-pencil-alt pull-right"></i></a></h5>
				<h5>Degree</h5>
				<h5>work from feb to June</h5>
				<ul>
				<li>description about the work</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="chat-feature">
	</div>

<%- include(".../partials/footer") %>